*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h3{
    font-size: 24px;
}

p{
    font-size: 16px;
}

div.top-header{
    display: flex;
    padding: 5%;
    justify-content: space-around;
    align-items: center;
}

header div.top-header p{
    width: 70%;
    text-align: center;
    margin-top: 10px;
}

header{
    background-color: #EAC926;
}

header div.logo,
header form{
    width: 50%;
}

header div.logo{
    padding: 10px;
}
header form{
    display: flex;
    align-items: center;
    padding: 2px;
    font-size: 11px;
    flex-wrap: wrap;
}
header nav{
    font-size: 12px;
    margin: 0px 20px;
    display: flex;
    justify-content: space-between;
}
header ul {
    display: flex;
}
header ul li{
    list-style-type: none;
    font-size: 18px;
    margin:2px;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

header form input.search{
    border:transparent;
    border-radius: 2%;
    padding: 5px;
    width: 85%;
}
header form input.search:focus{
    border-color: -internal#1259C3;
}

header form button.submit{
    border:none;
    border-radius: 2%;
    padding: 5px;
    width: 15%;
    background-color: #fff;
}
header form .submit i{
    width: 100%;
}

div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

div.last-visit,
div.offers{
    display: flex;
    flex-wrap: wrap;
}

.price{
    font-size: 18px;
    width: 30%;
}

.discount{
    width: 70%;
    position: relative;
    left:20px
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

h3,
.description{
    color: #666;
}
.main-article{
    flex-wrap: wrap;
}
.main-article h4.description{
    display: none;
    margin-top: 20px;
}
.main-article:hover h4.description{
  display: block;
}


section.banner img{
    width: 100%;
}

main{
    width: 90%;
    margin: 0 auto;
}

main section article{
    background-color: #fff;    
    margin: 10px 0px;
}

main section article img{
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    transition: 200ms;
}
.main-article:hover i{
   transform:rotate(-90deg);
}

main section h3{
    margin: 20px 0px;
}

article div.main-article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}
main.register form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}
main.register div.data{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;  
}
main.register div.data h1{
    color:#1259C3;
}
main.register input:focus{
    border-color:#1259C3;
}
main.register div.interests{
    display: flex;
    flex-direction: column;
    margin:10px;
    width: 60%;
    align-content: start;
}
main.register div.picture, .profile{
    width: 60%;
}
main.register div.picture, .profile h4{
    text-align: left;
}
main.register .button-send,.button-clear{
    color: white;
    border: solid 2px white;
    background-color: #1259C3;
    padding: 5px;
    border-radius: 15%;
    transition: 200ms;
}

main.register .button-clear:hover {
    color: #1259C3;
    background-color: white ;
    border: solid 2px #1259C3;
}

main.register .button-send:hover{
    color: #1259C3;
    background-color: #fff;
    border: solid 2px #1259C3
}

main form.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    height: 300px;
}
form input.info{
    border-radius: 2%;
    border: solid 2px #1259C3;
    padding: 5px;
    width: 60%;
    margin:5px 0px;

}
form label.info{
    width: 60%;
    text-align: left;
}
form.login input.info input{
    margin: 10px;
}
form.login h1{
    margin-bottom: 50px;
    color:#1259C3;
}
form.login .send{
    color: white;
    border: solid 2px white;
    background-color: #1259C3;
    padding: 5px;
    border-radius: 15%;
    transition: 200ms;
    margin-top: 20px;
}
form.login .send:hover{
     color: #1259C3;
    background-color: #fff;
    border: solid 2px #1259C3
}
footer{
    background-color: #fff;
}
footer ul div.information{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer ul{  
 display: flex;
 flex-direction: column;
 align-items: center;
 margin: 10px;
}
footer ul p{
    text-align: center;
}
footer ul li{
    margin: 5px;
    list-style-type: none;
}
footer ul i{
    margin:10px 0px 0px 0px;
    font-size: 2em;
    color:#1259C3;
    
}


@media (min-width: 375px){
    header nav{
        display: none;
    }
    div.top-header{
        display: flex;
        flex-wrap: wrap;
    }
    main section article .description{
        display: block;
    }
    
    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    main section div.products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    main section div.products article{
        width: 100%;
    }

    .price,
    .discount{
        width: 50%;
        
    }
}

@media (min-width: 768px){
    div.top-header{
        display: flex;
        padding: 5%;
        justify-content: space-around;
        align-items: center;
        flex-wrap: nowrap;
    }
    header nav{
        display: flex;
        padding: 0px 0px 15px 0px;
    }
    header form {
        display: flex;
        justify-content: center;
    }
    div.burger-menu{
        display: none;
    }
    main section div.products article{
        width: 45%;
    }
   
}
@media (min-width: 1024px){
    main section div.products article{
        width: 22%;
    }
    footer ul{  
        display: flex;
        flex-direction: row;
    }
    footer ul div.information{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    footer ul i{
        transition:100ms
    }
    footer ul i:hover{
        color:#39b54a;
    }
}